<header class="site-header" role="banner">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <img style="height: 1.5em; width: auto" src={{ "favicon.png" | absolute_url }} />
      {{ site.title | escape }}
    </a>

    <div class="site-nav-wrapper">
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
            {% t season_list %} ▾
        </label>

        <div class="trigger">
          {%- for s in site.data.nav_lists -%}
            <a class="page-link" href="{{site.baseurl}}/seasons/{{s.key}}">{{ s.display_name | escape }}</a>
          {%- endfor -%}
        </div>
      </nav>
    </div>
  </div>
</header>
