.row {
    display: -ms-flex; display: -webkit-flex; display: flex;
}

.column {
    float: left;
    /* width: 50%; */
    
    flex: 1;
}


  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.football_field_background {
    background-image: url("../img/field.png")
}

.football_field {
    display: -ms-flex; display: -webkit-flex; display: flex;

    align-items: center;
}

.player_icon {
    flex: 1
}