.row {
    display: -ms-flex; display: -webkit-flex; display: flex;
}

.column {
    float: left;
    /* width: 50%; */
    
    flex: 1;
}


  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.football_field_background {
    background-image: url("../img/field.png")
}

.football_field {
    position: relative;
}

.player {
    position: absolute;
    width: 20%;
}

.player img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid #cccccc;
    width: 50%;
}

.player p {
    text-align: center;
}

.player.LB {
    bottom: 20%;
    left: 5%;
}

.player.RB {
    bottom: 20%;
    right: 5%;
}