---
layout: default
---

{% include season_tabs.html name=page.display_name %}
<div class="row">&nbsp;</div>

<h3>{% t goal_scorers %}</h3>

<table class="playerlist">
  <thead>
    <tr>
      <th>{% t player.photo %}</th>
      <th>{% t player.name %}</th>
      <th>{% t player.team %}</th>
      {% capture gp %}
      {% t player.goals_penalty %}
      {% endcapture %}
      <th>{{ gp | newline_to_br }}</th>
    </tr>
  </thead>
  <tbody>
    {% for player in page.rank_table %}
    <tr>
      <td>
        {% if player.img != nil %}
        <img src="{{site.baseurl}}/assets/img/{{player.img}}"/>
        {% else %}
        <img src="{{site.baseurl}}/assets/img/placeholder-player.jpg"/>
        {% endif %}
      </td>
      <td>
        {% case forloop.index %}
        {% when 1 %}
        🥇
        {% when 2 %}
        🥈
        {% when 3 %}
        🥉
        {% else %}
        {% endcase %}
        <font color='#f55'>{{ player.name }}</font>
      </td>
      <td>
        {% assign team = page.team_hash[player.teamkey] %}
        {% include team_link.html team=team %}
      </td>
      <td>
        {{ player.goals }}
        {% if player.penalty > 0 %}
        ({{ player.penalty }})
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>

