---
layout: default
---

{% include season_tabs.html name=page.display_name %}
<div class="row">&nbsp;</div>

<h3>{% translate goal_scorers %}</h3>

<table class="playerlist">
  <thead>
    <tr>
      <th>{% translate player.photo %}</th>
      <th>{% translate player.name %}</th>
      <th>{% translate player.team %}</th>
      <th>{% translate player.goals_penalty %}</th>
    </tr>
  </thead>
  <tbody>
    {% for player in page.rank_table %}
    <tr>
      <td>
        {% if player.img != nil %}
        <img src="{{site.baseurl}}/assets/img/{{player.img}}"/>
        {% else %}
        <img src="{{site.baseurl}}/assets/img/placeholder-player.jpg"/>
        {% endif %}
      </td>
      <td><font color='#f55'>{{ player.name }}</font></td>
      <td>
        {% assign team = page.team_hash[player.teamkey] %}
        {% include team_link.html team=team %}
      </td>
      <td>
        {{ player.goals }}
        {% if player.penalty > 0 %}
        ({{ player.penalty }})
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>

