---
layout: default
---
<div class="wrapper">
  <a href="{{site.banners[0].link}}">
    <img class="banner" src="{{site.banners[0].img}}">
    </img>
  </a>
</div>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">
          {{ post.date | date: date_format }}
        </span>
        <span class="post-meta">
          • {{ post.author }}
        </span>
        {%- include tags.html tags=post.tags -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if post.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
