---
layout: default
---

{% include season_tabs.html name=page.display_name description=page.description link=page.link %}
<div class="row">&nbsp;</div>

<h3>{% t {{page.rank_title}} %}</h3>

<table class="playerlist">
  <thead>
    <tr>
      <th>{% t player.photo %}</th>
      <th>{% t player.name %}</th>
      <th>{% t player.team %}</th>
      {% capture gp %}
      {% t {{page.scoring_name}} %}
      {% endcapture %}
      <th>{{ gp | newline_to_br }}</th>
    </tr>
  </thead>
  <tbody>
    {% for player in page.rank_table %}
    <tr>
      <td>
        <div class="player static">
          <img src="{{site.baseurl_root}}/assets/img/{{player.img | default: 'placeholder-player.jpg'}}" />
        </div>
      </td>
      <td>
        {% case forloop.index %}
        {% when 1 %}
        🥇
        {% when 2 %}
        🥈
        {% when 3 %}
        🥉
        {% else %}
        {% endcase %}
        {{ player.name }}
      </td>
      <td>
        {% assign team = page.team_hash[player.teamkey] %}
        {% include team_link.html team=team %}
      </td>
      <td>
        {{ player[page.field1] }}
        {% if player[page.field2] > 0 %}
        ({{ player[page.field2] }})
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>

