---
layout: default
---

<h2>{{ page.title }} 赛季</h2>

<!-- {{ page.table }} -->


<table>
  <thead>
    <tr>
      <th>队名</th>
      <th>比赛</th>
      <th>胜</th>
      <th>平</th>
      <th>负</th>
      <th>进球</th>
      <th>失球</th>
      <th>净胜</th>
      <th>积分</th>
    </tr>
  </thead>
  <tbody>
    {% for team in page.table %}
    <tr>
      <td>
        <!-- <img class='logo' src='/assets/img/{{ team.logo }}'/> -->
        <img width="30px" src='{{site.baseurl}}/assets/img/{{ team.logo }}'/>
        <a href='{{team.key}}'>{{ team.display_name }}</a>
      </td>
      <td>{{ team.table.games_played }}</td>
      <td>{{ team.table.wins }}</td>
      <td>{{ team.table.draws }}</td>
      <td>{{ team.table.loses }}</td>
      <td>{{ team.table.goals_for }}</td>
      <td>{{ team.table.goals_against }}</td>
      <td>{{ team.table.goals_for | minus: team.table.goals_against }}</td>
      <td>{{ team.table.points }}</td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>

<h3>比赛</h3>

{% for game in page.games_pair %}
{% include game_lines.html game=game season_base_url="" %}
{% endfor %}
<!-- {% for game in page.games_pair %}
<font color="#aaa">{{game[1].type}}</font>
<a href='games/{{game[0]}}'>
  {{ game[1].home.display_name }}
  <img width="30px" src='{{site.baseurl}}/assets/img/{{ game[1].home.logo }}'/>
  {{game[1].home.score}}
  :
  {{ game[1].away.score }}
  <img width="30px" src='{{site.baseurl}}/assets/img/{{ game[1].away.logo }}'/>
  {{game[1].away.display_name}}
</a>
<br/>
{% endfor %} -->
