---
layout: page
---

<!-- <link rel="stylesheet" type="text/css" href="{{"/assets/css/football-field.css" | relative_url }}">  -->
<!-- <link rel="stylesheet" type="text/css" href="{{"/assets/css/custom-football-squad.css" | relative_url }}">  -->

<h1>
    <img width="20%" src='{{site.baseurl}}/assets/img/{{page.team.logo}}'/>
    {{ page.team.display_name }}
</h1>

<p>{{ page.team.description }}</p>
<br/>

<div class="row">
    <table class="playerlist">
    <thead>
        <tr>
            <th></th>
            <th>{% t table.played %}</th>
            <th>{% t table.win %}</th>
            <th>{% t table.tie %}</th>
            <th>{% t table.lose %}</th>
            <th>{% t table.goals_for %}</th>
            <th>{% t table.goals_against %}</th>
            <th>{% t table.avg %}</th>
        </tr>
    </thead>
    <tbody>
        <td>{%if page.team_key == page.season.config.winner %}🏆{%endif%} <a href="../">{{ page.season.config.display_name }}</a></td>
        <td>{{ page.team.stats.games_played }}</td>
        <td>{{ page.team.stats.wins }}</td>
        <td>{{ page.team.stats.draws }}</td>
        <td>{{ page.team.stats.loses }}</td>
        <td>{{ page.team.stats.goals_for }}</td>
        <td>{{ page.team.stats.goals_against }}</td>
        <td>+{{ page.team.stats.avg_gf }} / -{{ page.team.stats.avg_ga }}</td>
    </tbody>
    </table>
</div>

<div class="row">


    <div class="column">
        <table class="playerlist">
        <thead>
            <tr>
            <th>{% translate player.number %}</th>
            <th>{% translate player.photo %}</th>
            <th>{% translate player.name %}</th>
            <th>{% translate player.position %}</th>
            <th>{% translate player.goals %}</th>
            </tr>
        </thead>
        <tbody>
            {% for player in page.team.players.starting %}
            {% include player_table_line.html player=player %}
            {% endfor %}

            {% for player in page.team.players.subs %}
            {% include player_table_line.html player=player %}
            {% endfor %}
        </tbody>
        </table>

    </div>


<!-- Starting squad -->
<div class="column" >
    {% include squad.html squad=page.team.players.starting %}
</div>

</div>

<div>
{% for game in page.team.games %}
{% assign gk = game[0] %}
{% assign g = game[1] %}
{% include game_lines.html game_key=gk game=g season_base_url="../" %}
{% endfor %}
</div>


{% if page.team.image %}
<br/>
<div>
    <img src="{{site.baseurl}}/assets/img/{{page.team.image}}" />
</div>
<br/>
{% endif %}